---
import { Image } from "astro:assets";
import Container from "../components/Container.astro";
import { urlFor } from "../utils/image";

const { content } = Astro.props;
---

<section class="pt-24 relative pb-28 text-white">
  {
    content.bgImage && (
      <Image
        class="absolute top-0 left-0 object-cover w-full h-full"
        src={urlFor(content.bgImage).url()}
        inferSize
        alt="background"
      />
    )
  }

  <Container classes="relative z-10 flex justify-center items-center">
    <div
      class="relative flex flex-col justify-center items-center w-full bg-black/50 backdrop-blur rounded-t-2xl max-w-3xl p-16 pb-20 text-center"
    >
      <h2 class="text-display-2xl">{content.title}</h2>
      {content.description && <p>{content.description}</p>}
      {
        content.button && (
          <a href={content.button.buttonLink}>{content.button.buttonText}</a>
        )
      }
      <svg
        width="768"
        height="16"
        viewBox="0 0 768 16"
        fill="none"
        class="absolute -bottom-2 sm:bottom-0 left-0 w-full h-4"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect width="153.6" height="16" fill="#CF4BEF"></rect>
        <rect x="153.6" width="153.6" height="16" fill="#02BEF7"></rect>
        <rect x="307.2" width="153.6" height="16" fill="#00C29C"></rect>
        <rect x="460.8" width="153.6" height="16" fill="#F7BA22"></rect>
        <rect x="614.4" width="153.6" height="16" fill="#F60F40"></rect>
        <rect
          x="538.065"
          width="153.846"
          height="16"
          fill="white"
          fill-opacity="0.5"></rect>
      </svg>
    </div>
  </Container>
</section>
