---
import { Image } from "astro:assets";
import Container from "./Container.astro";

const { content } = Astro.props;
---

<section class="pt-24 relative pb-28">
  {
    content.bgImage && (
      <Image
        class="absolute top-0 left-0 object-cover w-full h-full"
        src={content.bgImage}
        inferSize
        alt="background image"
      />
    )
  }

  <Container>
    <h2>{content.title}</h2>
    {content.description && <p>{content.description}</p>}
    {content.button && <a href={content.button.href}>{content.button.text}</a>}
  </Container>
</section>
